* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

@font-face {
    font-family: 'Virgil'; /*a name to be used later*/
    src: url('Virgil.woff2') format('woff2'); /*URL to font*/
}

:root {
    --background-color: #090b09;
    --text-color: #eff0f0;
    --primary-div-color: #121212;
    --terminal-color: #000000;
    --button-color: #000000;
    --accent-color: #35353b;

    --box-height: 50px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
}

.header {
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-div-color);
    color: var(--text-color);
    padding: 20px 0;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-holder .split {
    width: 80%;
    margin-top: 50px;
    margin-top: 150px;
}

.top-holder .split .left {
    width: 30%;
    padding: 20px;
    margin: 20px;
}

.top-holder .split .right {
    width: 60%;
    padding: 20px;
    margin: 20px;

    background-color: var(--primary-div-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-text h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.info-text h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.info-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.right {
    font-family: 'Virgil';
}

.framework-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.framework-select label {
    height: var(--box-height);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--terminal-color);
}

.framework-select select {
    height: var(--box-height);
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--terminal-color);
}

#framework-info-text {
    font-size: 22px;
    margin-left: 10px;
}

.port-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.port-select label {
    height: var(--box-height);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--terminal-color);
}

.port-select input {
    border: 1px solid #ccc;
    height: var(--box-height);
    width: 80%;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: var(--terminal-color);
}

.copy-cmd {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.copy-cmd input {
    margin-top: 10px;
    height: var(--box-height);
    width: 100%;
    background-color: var(--terminal-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
}

.download {
    display: flex;
    margin-top: 20px;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}

.download-button-holder {
    display: flex;
    margin-top: 20px;
}

.download-button-holder button {
    height: var(--box-height);
    width: 100%;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border-right: 2px solid #ccc;
}

.download-button-holder select {
    width: 40%;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    padding-left: 20px;
}

.explanation-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-div-color);
    color: var(--text-color);
    padding: 20px 0;
}

.footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.footer .footer-content .credits-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.credits-holder .credits-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

@media (max-width: 1400px){
    .top-holder .split .left {
        width: 50%;
    }
    
    .top-holder .split .right {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    * {
        overflow-x: hidden;
    }

    ul {
        list-style: none;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar .logo {
        margin: 0 0 10px 0;
    }

    .info-text h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .info-text h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .info-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .top-holder .split {
        width: 100%;
        padding: 0;
        margin-top: 100px;
    }

    .top-holder .split .right {
        padding: 20px 0 20px 0;
        border-radius: 0;
    }

    .top-holder .split {
        flex-direction: column;
    }

    .top-holder .split .left {
        width: 100%;
    }

    .top-holder .split .right {
        width: 100%;
    }

    .explanation-image-holder img {
        width: 100%;
    }

    .download {
        padding: 0;
        background-color: var(--primary-div-color);
    }
}