* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

:root {
    --background-color: #090b09;
    --text-color: #eff0f0;
    --primary-div-color: #2d3333;
    --terminal-color: #000000;
    --button-color: #000000;
    --accent-color: #2b2a2a;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-div-color);
    color: var(--text-color);
    padding: 20px 0;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
}

    .menu ul li {
        margin-right: 20px;
    }

        .menu ul li a {
            color: var(--text-color);
            text-decoration: none;
        }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .top-holder .split {
        width: 80%;
        margin-top: 50px;
    }

        .top-holder .split .left {
            width: 50%;
            padding: 20px;
            margin: 20px;
        }

        .top-holder .split .right {
            width: 50%;
            padding: 20px;
            margin: 20px;
            background-color: var(--primary-div-color);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

.info-text h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.info-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.framework-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

    .framework-select label {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background-color: var(--accent-color);
    }

    .framework-select select {
        border: 1px solid #ccc;
        height: 40px;
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: var(--accent-color);
    }

#framework-info-text {
    font-size: 22px;
}

.port-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

    .port-select label {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background-color: var(--accent-color);
    }

    .port-select input {
        border: 1px solid #ccc;
        height: 40px;
        width: 80%;
        padding: 10px;
        border: none;
        font-size: 16px;
        background-color: var(--accent-color);
    }

.copy-cmd {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

    .copy-cmd input {
        margin-top: 10px;
        height: 40px;
        width: 100%;
        background-color: var(--terminal-color);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        padding-left: 20px;
    }

.download {
    display: flex;
    margin-top: 20px;
    background-color: var(--accent-color);
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}

.download-button-holder {
    display: flex;
    margin-top: 20px;
}

    .download-button-holder button {
        height: 40px;
        width: 100%;
        background-color: var(--button-color);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px 0 0 5px;
        border-right: 2px solid #ccc;
    }

    .download-button-holder select {
        width: 40%;
        background-color: var(--button-color);
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 16px;
        padding-left: 20px;
    }


@media (max-width: 1000px) {
    .top-holder .split {
        flex-direction: column;
    }

        .top-holder .split .left {
            width: 100%;
        }

        .top-holder .split .right {
            width: 100%;
        }
}
